/* ========== Fonts ========== */

@font-face {
    font-family: "Urbanist-reg";
    src: url(../fonts/Urbanist-Regular.ttf);
}
@font-face {
    font-family: "Urbanist-med";
    src: url(../fonts/Urbanist-Medium.ttf);
}
@font-face {
    font-family: "Urbanist-semibold";
    src: url(../fonts/Urbanist-SemiBold.ttf);
}
@font-face {
    font-family: "Urbanist-bold";
    src: url(../fonts/Urbanist-Bold.ttf);
}
@font-face {
    font-family: "Urbanist-extrabold";
    src: url(../fonts/Urbanist-ExtraBold.ttf);
}

/* ========== General Styling ========== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Urbanist-reg";
    font-size: 62.5%;
}

body {
    max-width: 192rem;
    margin: auto;
    letter-spacing: 0;
    font-size: 1.8rem;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.img-box {
    position: relative;
}

/* ========== Typography ========== */

h1 {
    font-family: "Urbanist-bold";
    font-size: 4rem;
    line-height: 4rem;
}

/* h2 {
    font-family: "Urbanist-bold";
    font-size: 5rem;
} */

h3 {
    font-family: "Urbanist-semibold";
    font-size: 2.2rem;
}

h4 {
    font-family: "Urbanist-semibold";
    font-size: 2rem;
}

h5 {
    font-family: "Urbanist-semibold";
    font-size: 1.7rem;
}

h6 {
    font-size: 1.7rem;
}

p {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

/* ========== Header Styling ========== */

header, footer {
    background-color: #1A3129;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    gap: 1.8rem;
}

.top-banner {
    width: 83%;
    background-color: #2C5446;
    justify-content: space-between;
    overflow: hidden;
    height: 3.4rem;
}

.green-style img, .green-style-2 img {
    width: 13rem;
    height: 10rem;
}

.green-style {
    top: -2.5rem;
    left: 4rem;
}

.green-style-2 {
    transform: rotate(45deg);
    top: -1.2rem;
    left: -2rem;
}

.banner-text {
    align-items: center;
}

.green-circle img {
    width: 1.7rem;
    height: 1.8rem;
}

.banner-text {
    cursor: pointer;
}

.banner-text p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.7rem;
    color: #FFF;
    margin: 0 2rem 0 0.6rem;
}

.white-arrow img {
    width: 1.4rem;
    height: 1.4rem;
}

.nav-bar {
    width: 83%;
}

.nav-bar nav {
    justify-content: space-between;
}

.logo {
    color: #FFF;
    align-items: center;
    gap: 0.7rem;
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.logo a {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
}

.nav-links {
    gap: 2.6rem;
}

.nav-bar ul a {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.7rem;
}

.buttons-container {
    gap: 4rem;
    align-items: center;
}

.contact {
    cursor: pointer;
    background-color: #CBEA7B;
    width: 12rem;
    height: 3.6rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

.contact span {
    color: #262626;
    font-size: 1.4rem;
    font-weight: 600;
}

.hamburger {
    display: none;
}

/* ========== Main Styling ========== */

main {
    width: 100vw;
    align-items: center;
    background-color: #FAFDF2;
    flex-direction: column;
    gap: 7rem;
    padding-bottom: 4.9rem;
}

.hero {
    gap: 3rem;
    width: 100vw;
    padding-right: 6rem;
}

.hero-img img {
    width: 48vw;
    height: 100%;
}

.hero-container {
    flex-direction: column;
    gap: 4rem;
}

.hero-text-buttons {
    flex-direction: column;
}

.hero-text {
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 0 3rem 0;
    max-width: 50rem;
}

.hero-text h3 {
    border-bottom: 0.3rem solid #CBEA7B;
    width: 29vw;
    max-width: 32rem;
    padding-bottom: 1rem;
}

.hero-text h1 {
    width: 36vw;
}

/* ----- Main hero buttons ----- */

.hero-buttons {
    gap: 2rem;
}

.get-starter {
    background-color: #CBEA7B;
    border: none;
    width: 13rem;
    height: 4rem;
    border-radius: 0.5rem;
    color: #262626;
    font-size: 1.2rem;
}

.book-a-demo {
    background-color: #F6FBE9;
    border: 0.1rem solid #CBEA7B;
    width: 11rem;
    height: 4rem;
    border-radius: 0.5rem;
    color: #262626;
    font-size: 1.2rem;
}

/* ----- Main hero customers ----- */

.hero-customers {
    align-items: center;
    gap: 1rem;
}

.customers-img {
    border: 0.17rem solid #CBEA7B;
    border-radius: 5rem;
    padding-top: 0.6rem;
    width: 8.5rem;
}

.customer-1 img, .customer-2 img, .customer-3 img {
    width: 3.6rem;
}

.customer-1  {
    left: 0.5rem;
}
.customer-2  {
    left: -1rem;
}
.customer-3  {
    left: -3rem;
}

.hero-customers span {
    font-size: 1.2rem;
}

/* ----- Main features ----- */

.features, .blogs, .kcal {
    width: 88vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.text-container, .kcal-text-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    width: 53%;
}

.container {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.sub-container {
    gap: 2rem;
    width: 100%;
}

.sub-container article {
    width: 78.3rem;
    background-color: #F6FBE9;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 2.5rem;
    border-radius: 2rem;
    border: 0.17rem solid #CBEA7B;
}

.sub-container-header {
    align-items: center;
    gap: 0.85rem;
}

.sub-container-header .img-box {
    text-align: center;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    background-color: #CBEA7B;
    border-radius: 1rem;
}

.sub-container-header img {
    width: 2rem;
}

.smaller-icons img {
    width: 3rem;
}

/* ----- Main blogs ----- */
.sub-container-text h4 {
    margin: 0.4rem 0 3rem 0;
}

.blogs .container .sub-container article {
    width: 49%;
}

.blog-img img {
    width: 100%;
}

.blogger {
    justify-content: space-between;
    background-color: #FAFDF2;
    padding: 2rem;
    border-radius: 1rem;
    border: 0.1rem solid #CBEA7B;
}

.post-data {
    gap: 1.6rem;
    align-items: center;
}

.data p {
    opacity: 0.5;
}

.post-reactions {
    align-items: center;
    gap: 1rem;
}

.icon-container {
    background-color: #F6FBE9;
    width: 6rem;
    height: 6rem;
    padding: 1.8rem;
    border-radius: 1rem;
    border: 0.1rem solid #CBEA7B;
}

.kcal-text-container {
    width: 66%;
}

.kcal .container {
    width: 100%;
    background-color: #F6FBE9;
    align-items: center;
    border-radius: 1rem;
    border: 0.17rem solid #CBEA7B;
    padding: 4.1rem 6.8rem;
}

.calc {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 4.5rem;
}

.input-text {
    gap: 6rem;
}

.input-text input, select { 
    width: 33vw;
    height: 5rem;
    border: none;
    border-radius: 1rem;
    border: 0.17rem solid #CBEA7B;
}

.input-label {
    gap: 0.8rem;
    flex-direction: column;
}

.gender {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.input-ratio {
    gap: 6rem;
}

.calculate {
    text-align: center;
    padding: 1.8rem 0;
    width: 40rem;
    background-color: #CBEA7B;
    height: 6rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    font-size: 1.7rem;
}
/* -------------- Table -------------- */

.table {
    border: 0.17rem solid #CBEA7B;
    border-radius: 1rem;
    background-color: #FFF;
}

table {
    width: 40vw;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    color: #262626;
    border-bottom: 0.1rem solid #CBEA7B;
}

.table-description {
    padding-left: 3.6rem;
    text-align: left;

}

.pricing {
    width: 88vw;
}
.pricing-text-container {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
    gap: 2rem;
}

.pricing-text-container p {
    width: 52%;
}

.pricing-toggle {
    border: 0.17rem solid #CBEA7B;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}

.pricing-toggle button {
    padding: 1.4rem 2.4rem;
    border-radius: 1rem;
    cursor: pointer;
}

.pricing .sub-container article {
    width: 28vw;
}

.pricing-buttons {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.plan-active {
    background-color: #346454;
    color: #FFF;
    border: none;
}

.plan-disabled {
    background-color: #FAFDF2;
    border: none;
}

.type-price h4, .plan-price {
    color: #346454;
}

.type-price {
    flex-direction: column;
    gap: 0.4rem;
}

.plan-price {
    font-family: "Urbanist-semibold";
    font-size: 2.3rem;
}

.price-month {
    font-size: 1.4rem;
}

.plan-container {
    flex-direction: column;
    gap: 3.3rem;
}

.plan-container button {
    text-align: center;
    background-color: #CBEA7B;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1.8rem 0;
    border: none;;
}

/* ========== Footer Styling ========== */

footer {
    padding: 5rem 6rem;
    justify-content: space-between;
    gap: 2rem;
}

.go-top {
    align-items: center;
    gap: 1.5rem;
}

.go-top-text {
    color: #FFF;
    font-size: 1.6rem;
}

.go-top-button {
    background-color: #234338;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer .buttons-container {
    width: 66%;
    justify-content: space-between;
}

footer .nav-links {
    gap: 2.6rem;
}

footer .nav-bar {
    width: 100%
}

.footer-contact {
    background-color: #234338;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-contact button, .footer-contact span {
    font-size: 1.2rem;
}

.contact-options {
    gap: 2rem;
}

.button-wrap {
    padding: 1rem;
    gap: 0.7rem;
    border: 0.15rem solid #346454;
    border-radius: 1rem;
}

.button-wrap button {
    background-color: #234338;
    border: none;
    color: #FFF;
}

.copyright {
    color: #FFF;
    font-size: 1.4rem;
}

/* ========== Media Queries ========== */

/* ========== Tablet ========== */

@media only screen and (max-width: 980px) {
    /* ========== Tablet Typography ========== */

    body {
        letter-spacing: 0;
        font-size: 1.6rem;
    }

    h1 {
        font-size: 2.8rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
    }

    h3 {
        font-family: "Urbanist-semibold";
        font-size: 1.8rem;
    }

    h4 {
        font-family: "Urbanist-semibold";
        font-size: 1.6rem;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    /* ========== Tablet Header Styling ========== */

    .top-banner {
        width: 87vw;
        height: 3rem;
    }

    .nav-bar {
        width: 87vw;
    }

    .green-style img, .green-style-2 img {
        width: 8rem;
        height: 6rem;
    }

    .green-style {
        top: -1rem;
    }

    .banner-text p {
        font-size: 1.2rem;
    }

    .banner-text img {
        width: 1.3rem;
        height: 1.3rem;
    }

    .logo a {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
    }

    .nav-bar ul a {
        font-size: 1.2rem;
    }

    .contact {
        width: 7rem;
        height: 3rem;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: center;
    }
    
    .contact span {
        font-family: "Urbanist-semibold";
        color: #262626;
        font-size: 1rem;
        font-weight: 600;
    }

    .logo img {
        width: 2rem;
        height: 2rem;
    }

    .buttons-container {
        gap: 2rem;
    }

    .nav-links {
        gap: 1.6rem;
    }

    /* ========== Tablet Main Styling ========== */
    
    .hero-container {
        gap: 2rem;
        padding-bottom: 2rem;
    }

    .hero-text-buttons {
        gap: 2rem;
    }

    .hero-text {
        padding-bottom: 0;
    }

    .get-starter {
        width: 10rem;
        height: 3rem;
        font-size: 1.1rem;
    }
    
    .book-a-demo {
        width: 8rem;
        height: 3rem;
        font-size: 1.1rem;
    }

    .customers-img {
        width: 7.2rem;
    }
    
    .customer-1 img, .customer-2 img, .customer-3 img {
        width: 3.2rem;
    }

}


/* ========== Smartphone ========== */

@media only screen and (max-width: 599px) {

    /* ========== Smartphone Header Styling ========== */
    .top-banner {
        border-radius: 1rem;
    }
    .green-style img, .green-style-2 img {
        display: none;
    }

    .logo a {
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
    }

    .contact {
        width: 7rem;
        height: 3rem;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: center;
    }
    
    .contact span {
        font-family: "Urbanist-semibold";
        color: #262626;
        font-size: 1rem;
        font-weight: 600;
    }

    .logo img {
        width: 2rem;
        height: 2rem;
    }

    .buttons-container {
        gap: 1rem;
        display: none;
    }

    .nav-links {
        gap: 1.6rem;
    }

        /* styling hamburger icon */
        .hamburger {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 2rem;
            width: 2.6rem;
        }
        .hamburger .line {
            background-color: #CBEA7B;
            height: 0.3rem;
            width: 100%;
            border-radius: 0.2rem;
            transition: 0.3s;
        }

    /* ========== Smartphone Main Styling ========== */
    main {
        width: 100%;
    }
    .hero {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .hero-img img {
        width: 100vw;
    }
    .hero-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    .hero-customers {
        position: relative;
        top: -6rem;
        flex-direction: column;
        gap: 0.6rem;
    }
    .customers-img {
        background-color: #F6FBE9;
        width: 11.4rem;
        height: 5rem;
    }
    .customer-1 img, .customer-2 img, .customer-3 img {
        width: 4.6rem;
        top: -0.5rem;
    }
    .customer-1  {
        top: -0.5rem;
    }
    .customer-2  {
        top: -0.5rem;
    }
    .customer-3  {
        top: -0.5rem;
    }
    
    .hero-customers span {
        font-size: 1.6rem;
    }
    .hero-text-buttons {
        align-items: center;
    }
    .hero-text {
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 0;
    }
    .hero-text h3 {
        width: 70vw;
    }
    .hero-text h1 {
        width: 100%;
        font-size: 4rem;
        line-height: 4rem;
    }
    .hero-text p {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }    
    .get-starter {
        width: 16rem;
        height: 4.4rem;
        font-size: 1.6rem;
    }
    
    .book-a-demo {
        background-color: #F6FBE9;
        width: 15rem;
        height: 4.4rem;
        font-size: 1.6rem;
    }
    .sub-container {
        flex-direction: column;
    }
    .sub-container article {
        width: 100%;
    }
    .blogs .container .sub-container article {
        width: 100%;
    }
    .sub-container-text p {
        font-size: 1.6rem;
        line-height: 2.7rem;
    }
    .blogger {
        flex-direction: column;
        gap: 1rem;
    }
    .post-reactions {
        align-self: flex-end;
    }
    .calculate {
        padding: 1.8rem 0;
        width: 30rem;
        height: 6rem;
        font-size: 1.7rem;
    }
    .pricing .sub-container {
        align-items: center;
    }
    .pricing .sub-container article {
        width: 80vw;
    }
    /* ========== Smartphone Footer Styling ========== */
    footer {
        padding: 2.6rem;
    }
    footer .logo a {
        font-size: 2rem;
    }
    footer nav {
        flex-direction: column;
        gap: 1.8rem;
    }
    footer .buttons-container {
        display: flex;
        width: 100%;
    }
    footer .nav-links {
        flex-wrap: wrap;
    }
    footer .nav-links a {
        font-size: 1.6rem;
    }
    footer .go-top {
        position: relative;
        top: -7rem;
    }
    .footer-contact {
        padding: 1rem;
        border-radius: 1rem;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    .footer-contact span {
        font-size: 1.6rem;
    }
    .contact-options {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .button-wrap {
        width: 90%;
        justify-content: center;
    }
}
